.form {
    max-width: 420px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f8ff; /* Голубой */
    border-radius: 20px; /* Овальные углы */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input {
    width: 390px;
    padding: 10px;
    margin-bottom: 10px;
  
    border: none;
    border-radius: 20px; /* Овальные углы */
    background-color: #fff; /* Белый */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.input:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7); /* Голубой */
}

.submitButton {
    margin: 15px;
    padding: 10px 20px;
    background-color: #007bff; /* Голубой */
    border: none;
    border-radius: 4px;
    color: #fff; /* Белый */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submitButton:hover {
    background-color: #0056b3; /* Темно-голубой */
}

.navLink {
    text-decoration: none;
}

.returnButton {
    margin-left: 650px;
    padding: 10px 20px;
    background-color: #007bff; /* Голубой */
    border: none;
    border-radius: 4px;
    color: #fff; /* Белый */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.returnButton:hover {
    background-color: #0056b3; /* Темно-голубой */
}